<div class="container mt-4">
    <div class="mb-3">
      <input (ngModel)="novaTarefa" class="form-control" placeholder="Adicionar uma nova tarefa" />
      <button (click)="adicionarTarefa()" class="btn btn-primary mt-2">Adicionar</button>
    </div>
  
    <div *ngFor="let tarefa of tarefas; let i = index" class="card mb-2">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <h5 class="card-title" [class.tarefa-concluida]="tarefa.concluida">
              Tarefa {{ i + 1 }} - {{ tarefa.nome }}
            </h5>
            <p class="card-text">Data: {{ tarefa.data | date }}</p>
            <p class="card-text" [class.text-warning]="tarefa.status === 'Pendente'" [class.text-danger]="tarefa.status === 'Suspensa'" [class.text-success]="tarefa.status === 'Finalizada'" [class.bg-warning]="tarefa.status === 'Pendente'" [class.bg-danger]="tarefa.status === 'Suspensa'" [class.bg-success]="tarefa.status === 'Finalizada'">
              Status: {{ tarefa.status }}
            </p>
          </div>
          <div>
            <button (click)="exibirOpcoes(tarefa)" class="btn btn-secondary">Opções</button>
          </div>
        </div>
  
        <div *ngIf="tarefaSelecionada === tarefa" class="mt-3">
          <!-- Opções da tarefa -->
          <button (click)="editarTarefa(tarefa)" class="btn btn-warning">Editar</button>
          <button (click)="suspenderTarefa(tarefa)" class="btn btn-danger">Suspender</button>
          <button (click)="excluirTarefa(tarefa)" class="btn btn-danger">Excluir</button>
          <button (click)="finalizarTarefa(tarefa)" class="btn btn-success">Finalizar</button>
        </div>
      </div>
    </div>
  </div>
  